html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    padding: 0;
    /* Development only */
    background-color: #5bca64;
}

* {
    margin: 0
}

.max-w-1200px {
    max-width: 1200px;
    margin: 0 auto;
}

.mb-1rem {
    margin-bottom: 1rem;
}