@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    color: #333333;
}

.theme-bg-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}