@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply flex flex-col min-h-screen font-playpen text-slate-800;
}

.theme-bg-gradient {
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    background-image: linear-gradient(120deg, #86e293 0%, #86e6c6 100%);
}

a.theme-hyperlink {
    @apply text-emerald-600 hover:text-emerald-700
}

section {
    @apply p-4 sm:px-8 text-lg;
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-xl font-bold;
}

h5 {
    @apply text-lg font-bold;
}

h6 {
    @apply text-base font-bold;
}

h1,
h2,
h3,
p,
ul {
    @apply mb-4;
}

h4,
h5,
h6,
li {
    @apply mb-2;
}